default:
  target: my_app
  app_name: My App
  configuration: Release
  api_token: <From your user profile>
  notify: true

development:
  team_token: <From your team edition profile>
  distribution_list: Developers

beta:
  team_token:
  distribution_list: Testers
